body {
    margin: 0;
}

.container {
    width: 1280px;
    height: 323px;
    border: 1px solid black;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;

}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    margin: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
}


.main-header-list {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;
    background-image: url('https://img.icons8.com/color/48/000000/checkmark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-product-photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

.about {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;

}

.about-wrapper {
    margin: 0px;
    width: 648px;
    height: 210px;
    float: left;
}

.about-header {
    margin: 0;
    width: 254px;
    height: 28px;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;

}

.about-item {

    width: 649px;
    height: 63px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 655px
}

.about-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.plusses {
    width: 100%;
    min-height: 415px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.plusses-header {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0px 30px 0px
}

.plusses-list {
    margin: 0 0 0px 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: #333333;
    list-style-image: url(https://img.icons8.com/officexs/16/000000/filled-plus-2-math.png)
}


.plusses-list-left {
    width: 568px;
    height: 265px;
    float: left;
}

.plusses-list-left li {
    margin-top: 36px;
}

.plusses-list-left li:nth-child(1){
    margin-top: 0px;
}

.plusses-list-right li:first-child{
    margin: 0;
}


.plusses-list-right {
    float: right;
    width: 568px;
    height: 265px;
}

.plusses-list-right li {
    margin-top: 36px;
}

.plusses-list-right li:first-child {
    margin-top: 30px;
}


.screenshots {
    width: 100%;
    min-height: 415px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.screenshots-header {
    margin: 0 0 30px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400px;
    color: #445161;
}

.screenshots-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
}



.screenshots-item {
    margin: 0;
    width: 50%;

    box-sizing: border-box;
    margin: 0 0 30px 0;
}

.screenshots-item :nth-child(1) {
    margin: 0 10px 0 0;
}

.screenshots-item-header {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-item-p {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: #333333;
    margin: 10px 0 0 0;
    width: 359px;
    height: 108px;
    float: right;

}


.reviews {
    width: 100%;
    min-height: 415px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.reviews-header {
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    height: 36px;
    color: #445161;
}

.reviews-item {
    box-sizing: border-box;
}

.reviews-photo {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    float: left;

}

.reviews-photo:nth-child(2) {
    margin: 0 0 0 10px;

}

.reviews-p {

    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    width: 480px;
    height: 121px;
    padding: 10px;
    margin: 0 0 0 90px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    text-align: left;
    position: relative;
    font-style: italic;

}

.reviews-p::before {
    content: "";
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 25px;
    left: -29px;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;


}

.reviews-autor {
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.buy {
    width: 100%;
    min-height: 656px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.buy-title {
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    height: 36px;
    color: #445161;
}

.buy-item {
    width: 30%;
    border-radius: 3%;
    background-color: #445162;
}

.buy-item-tarif {
    font-family: Aria;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.buy-item-price {
    display: block;
    width: 300px;
    height: 71px;
    border: 2.0px solid #445162;
}

.buy-price {
    width: 87px;
    height: 35px;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}